/* DON'T TOUCH THIS! */
body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  width: 100%;
  text-transform: uppercase;
  background: #2e354f;
  margin: 0;
  color: white;
}

.section-title {
  text-transform: uppercase;
}

.underlined {
  color: #ef5839;
}

.btn {
  text-decoration: none;
  color: white;
  font-weight: 900;
  background: #ef5839;
  display: block;
}

.btn:hover {
  color: #2e354f;
  background: #d4b44c;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

body {
  text-align: center;
}

.title-text {
  padding: 20px 0;
}

.section-title {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(204, 202, 202);
  margin-bottom: 40px;
}

.container {
  width: 550px;
  margin: 150px auto;
}

.btn {
  display: inline-block;
  padding: 15px 24px;
  margin-top: 30px;
}
